<div class="header">
	<nav>
		<span>
		<%= link_to "impressbox", root_path, id: "logo" %>
		</span>
		<ul>
			<li><%= link_to "home",  home_path %></li>
			<li><%= link_to "help",  'help' %></li>
			<li><%= link_to "about", about_path %></li>
		</ul>
	</nav>
</div>
